.links {
	a {
		position: relative;
		width: fit-content;
		color: var(--c-a);
		display: inline-block;
		line-height: 1em;

		&::after {
			position: absolute;
			content: '';
			background-color: var(--c-a);
			width: 0%;
			height: 1px;
			bottom: -2px;
			left: 0;
			transition: width 0.3s ease-in-out;
		}

		&:hover::after,
		&[href='']::after,
		&.active::after {
			width: 100%;
		}
	}

	&.right a::after,
	.right a::after,
	a.right::after {
		left: auto;
		right: 0;
	}

	&.tags a,
	.tags a,
	.tag {
		color: var(--c-b);
		background-color: var(--c-w-w);
		border-radius: 0.5em;
		padding: 0.4em 0.6em;
		white-space: nowrap;

		&::before {
			content: '# ';
			color: var(--c-a);
		}

		&::after {
			left: calc(0.3em + 2ch);
			bottom: 0.3em;
			max-width: calc(100% - 2ch - 1.5 * 0.6em);
		}
	}

	.filepath {
		color: var(--c-b);

		*::before {
			content: '/';
			margin: 0 0.5ch;
			color: var(--c-b);
		}

		*::after {
			left: 2ch;
			max-width: calc(100% - 2ch);
		}
	}
}

.loading {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	span {
		background-image: linear-gradient(
			45deg,
			transparent,
			var(--c-w-w),
			transparent
		) !important;
		background-size: 400% 400% !important;
		background-position: 0% 0%;
		filter: saturate(0);
		border-radius: 0.5rem;
		animation: move-gradient 2s ease infinite;

		@keyframes move-gradient {
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}

		&,
		&::before,
		&::after {
			color: transparent !important;
			background-color: transparent !important;
			border-color: transparent !important;
		}
	}
}

.clip {
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.pixel {
	font-family: 'pixel', sans-serif;
	font-weight: 100;
	word-spacing: 0.25ch;
}

.mono {
	font-family: 'mono', sans-serif;
	font-weight: 100;
	word-spacing: 0.25ch;
}

.load::before {
	content: '';
	color: var(--c-a);
	margin-right: 1ch;
	animation: load 0.5s ease-in-out infinite;

	@keyframes load {
		0% {
			content: '⠋';
		}

		10% {
			content: '⠙';
		}

		20% {
			content: '⠹';
		}

		30% {
			content: '⠸';
		}

		40% {
			content: '⠼';
		}

		50% {
			content: '⠴';
		}

		60% {
			content: '⠦';
		}

		70% {
			content: '⠧';
		}

		90% {
			content: '⠇';
		}

		100% {
			content: '⠏';
		}
	}
}

.pTitle h1,
.pTitle h2,
.pTitle h3,
.pTitle h4,
.pTitle h5,
.pTitle h6,
.title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-weight: bold;
}
