$dot-size: 0.35em;
$dot-space: 0.2em;
$gap-y: 1em;
$border-width: 1px;
$dot-radius: 25%;
$last-dot-border-width: 1px;

.timeList {
	--pad-left: 1.5em;

	display: flex;
	position: relative;
	flex-direction: column;
	gap: $gap-y;

	border-left: $border-width solid theme.$color-black;
	padding-left: calc(var(--pad-left));

	&::before,
	&::after {
		position: absolute;
		content: "";
	}

	&::before {
		bottom: calc(100% - 0.5em);
		left: -0.5em;
		background-color: theme.$color-white;
		width: 1em;
		height: 1em;
	}

	.timeList {
		$deg: 55deg;

		&::before,
		&::after {
			border-left: $border-width solid theme.$color-black;
			background-color: transparent;
			height: 1.9em;
		}

		&::before {
			bottom: 100%;
			left: 0;
			transform: rotate(-$deg);
			transform-origin: 0 100%;
		}

		&::after {
			top: 100%;
			left: 0;
			transform: rotate($deg);
			transform-origin: 0 0;
		}
	}
}

.timeItem {
	p {
		&[role="heading"] {
			position: relative;
			font-weight: bold;

			&::before {
				position: absolute;
				top: 50%;
				left: calc(-1 * var(--pad-left) - $dot-size / 2);
				transform: translateY(-50%);
				outline: $dot-space solid theme.$color-white;
				border-radius: $dot-radius;
				background-color: theme.$color-black;
				width: $dot-size;
				height: $dot-size;
				content: "";
			}
		}

		&:has(time) {
			opacity: 0.7;
			width: fit-content;
			font-size: 0.8em;
			text-transform: capitalize;

			&[data-metadata]::after {
				margin-left: -0.5ch;
				content: ", " attr(data-metadata);
				text-transform: none;
			}
		}
	}

	& > section > div {
		padding: $gap-y 0;
	}
}
