---
import { Section } from "@/layouts"
import { getLocaleContent } from "@/modules/i18n/content"
import locales from "./locales"
import { Button, PostCard, Ref, Title } from "@/components"
import { getPostsByLocale } from "@/content"
import { Graph } from "@/components"

const content = getLocaleContent(locales, Astro)
const posts = (await getPostsByLocale())[Astro.currentLocale as i18n.Locales]
---

<Section id="posts" layout="col2i">
	<Title title={content.title} description={content.description}>
		<Button>
			<a href="/posts">See all publications</a>
		</Button>
	</Title>
	<ul>
		{
			posts
				.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
				.slice(2, 4)
				.map((post) => (
					<li>
						<PostCard post={post} />
					</li>
				))
		}
		<Graph label={content.graph} />
	</ul>
</Section>

<style lang="scss">
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
		grid-auto-rows: 12em;
		gap: 1em;

		&>:not(li) {
			grid-row: 1 / span 2;
		}
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 1em;

		* {
			text-wrap: balance;
			text-align: center;
		}
	}
</style>
