/// WARNING : This module is @used automatically in every scss files / blocks

@use "./utils.scss" as theme;
@forward "./utils.scss";

/// Accent Colors

// $color-main: theme.define(color-main, #a8fcb3, #5837ec);
// $gradient-main-color1: theme.define(gradient-main-color1, #3ff08e, #0ed6a4);
// $gradient-main-color2: theme.define(gradient-main-color2, #8560ec, #25186e);

$color-main: theme.define(color-main, #91a9f8, #4b68da);
$gradient-main-color1: theme.define(gradient-main-color1, #3fb2cf, #7fa4f5);
$gradient-main-color2: theme.define(gradient-main-color2, #6013b8, #5a13b8);

/// 50 Shades of gray

$color-black: theme.define(color-black, #e0dede, #000);
$color-white: theme.define(color-white, #131111, #f8f8f8);
$color-grey: theme.define(color-grey, #333030, #e6e5e5);
$color-dark-grey: theme.define(color-dark-grey, #333030, #c4bdbd);
$color-shadow: theme.define(color-shadow, #00000023);

// Other variable

$bool-is-dark: theme.define(bool-is-dark, 1, 0);

/// Textures

// prettier-ignore
$texture-checkboard: theme.define(
	texture-checkboard,
	url(svg(
		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg" '
        'fill="' #e2e2e21c '">'
			'<rect x="0" y="0" width="2" height="2"/>'
			'<rect x="2" y="2" width="2" height="2"/>' 
        "</svg>"
	)),
	url(svg(
		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg" '
        'fill="' #0000001c '">' 
            '<rect x="0" y="0" width="2" height="2"/>'
			'<rect x="2" y="2" width="2" height="2"/>' 
        "</svg>"
	))
);

// // prettier-ignore
// $texture-dash: theme.define(
// 	texture-dash,
// 	url(svg(
// 		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg" '
// 			'stroke="' #ffffff1c '" stroke-width=".2">'
// 			'<path d="M-1,1 L1,-1 M4,0 L0,4 M3,5 L5,3"/>'
// 		"</svg>"
// 	)),
// 	url(svg(
// 		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg" '
// 			'stroke="' #33303062 '" stroke-width=".2">'
// 			'<path d="M-1,1 L1,-1 M4,0 L0,4 M3,5 L5,3"/>'
// 		"</svg>"
// 	))
// );

// prettier-ignore
$texture-cross: theme.define(
	texture-cross,
	url(svg(
		'<svg width="1em" height="1em"  viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg" '
        'fill="' #ffffff1c '" stroke="none">'
			'<circle cx="3" cy="3" r=".3"/>'
        "</svg>"
	)),
	url(svg(
		'<svg width="1em" height="1em" viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg" '
        'fill="' #0000004b '" stroke="none">'
            '<circle cx="3" cy="3" r=".3"/>'
        "</svg>"
	))
);
