.header {
	border-bottom: 1px solid var(--c-w-b);
	padding-bottom: 2em;
	margin-bottom: 1em;
	width: 100%;
	display: flex;
	justify-content: space-between;

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	p:last-child {
		text-align: end;
	}

	ul {
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 0.5em;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	div {
		display: flex;
		gap: 1em;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4,
	h5,
	h6 {
		font-size: 1em;
	}

	code {
		font-family: 'mono', sans-serif;
		font-size: 0.85em;
		background-color: var(--c-w-w);
		color: var(--c-b);
		padding: 0.25em 0.5em;
		border-radius: 1em;
	}

	pre {
		code {
			display: block;
			padding: 0.5em;
			counter-reset: line 0;

			& > span {
				&::before {
					content: counter(line);
					border-right: 1px solid var(--c-w-b);
					color: var(--c-w-b);
					padding-right: 2ch;
					margin-right: 2ch;
					min-width: 4ch;
					display: inline-block;
					counter-increment: line;
					text-align: right;
				}
			}
		}
	}

	blockquote {
		padding-left: 1em;
		border-left: 1ch solid var(--c-w-w);
	}

	table {
		border-collapse: collapse;

		thead {
			border-bottom: 1px solid var(--c-w-b);
		}

		tr > * {
			border-right: 1px solid var(--c-w-b);

			&:last-child {
				border-right: none;
			}
		}

		th,
		td {
			padding: 0.25em 2em;
		}
	}

	& > hr {
		margin: 1em 0;
		width: 100%;
		border-top: 1px solid var(--c-w-b);
	}

	p {
		font-size: 1.05em;
		// line-height: 2em;
	}

	& > * {
		width: 100%;
	}

	* {
		line-height: 1.5em;
	}
}

.also,
.ressources {
	border-top: 1px solid var(--c-w-b);
	padding-top: 1em;
}

.also {
}

.ressources {
}
