---
import locales from './locales'
import skinStyles from '@/styles/skin.module.scss'
import { Section } from '@/components/sections'

import GridArt from '@/components/tiles'
import Timeline from '@/components/timeline'
import { getLocaleContent } from '@/libs/i18n'
import { getPostsByLocale } from '@/content'

const content = getLocaleContent(locales, Astro)
const posts = (await getPostsByLocale())[Astro.currentLocale as Locales]
---

<Section id="history" layout="col2">
	<div>
		<h1>{content.title}</h1>
		<GridArt
			width={12}
			height={4}
			seed="hello "
			style="border-radius: 0.5rem"
		/>
		<p class={skinStyles.dropCap}>{content.description}</p>
	</div>
	<Timeline items={content.timeline} />
</Section>

<style>
	div {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
</style>
