:root {
	overflow-x: hidden;
}

body {
	--max-width: 1024px;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--c-w-w);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header,
main,
footer {
	max-width: var(--max-width);
	width: calc(100% - 2em);
}

header,
footer {
	user-select: none;
}

/* Header */

header {
	$pad: 1em;
	padding: $pad;
	max-width: calc(var(--max-width) - $pad * 2);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: right;

	a:not([href='']) {
		color: var(--c-b);
	}
}

header,
nav ul {
	list-style: none;
	display: flex;
	gap: 2em;
}

/* Main */

main {
	$pad: 2em;
	flex-grow: 2;
	margin: 0 -1em;
	padding: $pad;
	max-width: calc(var(--max-width) - $pad * 2);
	background-color: var(--c-w);
	outline: 1px solid var(--c-w-b);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

/* Footer */

footer {
	$pad: 1em;
	display: flex;
	flex-direction: column;
	padding: $pad;
	max-width: calc(var(--max-width) - $pad * 2);

	ul {
		list-style: none;
		display: flex;
	}

	& > div:last-of-type {
		border-top: 1px solid var(--c-w-b);
		padding-top: 1em;
	}

	& > div:last-of-type ul {
		gap: 0.5em;
		flex-flow: row wrap;
		justify-content: right;
	}

	& > div:not(:last-of-type) {
		padding-bottom: 1em;
		display: flex;
		gap: 1em;

		ul {
			justify-self: flex-end;
			flex-direction: column;
			justify-content: start;
			gap: 0.4em;
		}
	}
}
