---
import authors from "@/data/authors.json"

import { getEntry } from "astro:content"

interface Props {
	id: (typeof authors)[number]["id"]
}

const { id } = Astro.props,
	author = await getEntry("authors", id)

if (!author) throw new Error("Author id noexistent")
---

<a href={author.data.social} title={`${author.data.name} social link`}>
	{author.data.name}
</a>
