---
import { Button, Field } from '@/components/ui'
---

<script>
	import { FORMSPREE_ID } from 'astro:env/client'

	class ContactForm extends HTMLFormElement {
		connectedCallback() {
			this.addEventListener('submit', async () => {
				await fetch(`https://formspree.io/f/${FORMSPREE_ID}`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						Accept: 'application/json',
					},
					body: JSON.stringify(Object.fromEntries(new FormData(this))),
				})
			})
		}
	}

	customElements.define('contact-form', ContactForm, { extends: 'form' })
</script>

<form is="contact-form" onsubmit="return false">
	<div>
		<Field name="name" required placeholder="Name" />
		<Field name="email" type="email" required placeholder="Email" />
	</div>
	<Field name="subject" required placeholder="Subject" />
	<Field el="textarea" name="message" required placeholder="Message" rows="8" />
	<div>
		<Button type="submit"> Send Message </Button>
		<Button variant="secondary" type="reset"> Clear All </Button>
	</div>
</form>

<style>
	form {
		display: flex;
		flex-direction: column;
		gap: 1em;

		div {
			display: flex;
			flex-direction: row;
			gap: 1em;
		}

		textarea {
			resize: vertical;
		}
	}
</style>
