---
import { Section } from "@/layouts"
import { getLocaleContent } from "@/modules/i18n/content"
import ContactForm from "./ContactForm.astro"
import locales from "./locales"

const content = getLocaleContent(locales, Astro)
---

<Section id="contact" layout="col2">
	<div>
		<p style="font-size: 1.75rem;">{content.still}</p>
		<h1>{content.title}</h1>
		<p>{content.content}</p>
	</div>
	<ContactForm />
</Section>
