@use './theme/theme.scss' as _theme;

.smallCaps {
	font-size: 0.85em;
	text-transform: uppercase;
}

// Paragraphes

.dropCap::first-letter {
	float: inline-start;
	margin-right: 0.2ch;
	font-weight: bold;
	font-size: 3em;
}

// Inputs

.clickable {
	transition: transform 0.05s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}

	&:focus {
		transform: scale(0.95);
	}
}

@mixin button {
	@extend .clickable;
	border-radius: 0.2em;
	padding: 0.4em;
	text-align: center;
}

.primaryButton {
	background-color: _theme.$color-black;
	color: _theme.$color-white;
	@include button;
}

.secondaryButton {
	border: 1px solid _theme.$color-grey;
	@include button;
}

.inputLabel {
	$label-size: 0.8em;
	$input-padding: 0.5em;

	position: relative;
	width: 100%;

	&:not(:has(*:placeholder-shown)) label,
	&:has(*:focus) label {
		top: $input-padding;
		opacity: 0.8;
		font-size: $label-size;
	}

	label {
		position: absolute;
		top: calc($input-padding + $label-size / 2);
		left: $input-padding;
		opacity: 0.5;
		transition: 0.1s ease-in-out;
		transition-property: top, left, opacity, font-size;
		color: #{_theme.$color-black};
		user-select: none;
	}

	input,
	textarea {
		border: 1px solid #{_theme.$color-grey};
		border-radius: 0.2em;
		padding: calc($label-size + $input-padding) $input-padding $input-padding
			$input-padding;
		width: calc(100% - $input-padding * 2);
	}
}
