---
export { getStaticPaths } from '@/libs/i18n'
import Main from '@/layouts/Main'
import WelcomeSection from './_/welcome/index.astro'
import PostSection from './_/posts/index.astro'
import StorySection from './_/story/index.astro'
import ContactSection from './_/contact/index.astro'
---

<Main>
	<WelcomeSection />
	<PostSection />
	<StorySection />
	<ContactSection />
</Main>
