@font-face {
	font-family: 'plain';
	src: url(/fonts/roboto.ttf);
}

@font-face {
	font-family: 'pixel';
	src: url(/fonts/pixelify.ttf);
}

@font-face {
	font-family: 'mono';
	src: url(/fonts/firacode.ttf);
}
