---
import { Section } from '@/components/sections'
import { getLocaleContent } from '@/libs/i18n'
import locales from './locales'
import infos from '@/data/infos'
import ChunkedImage from '@/components/ChunkedImage.astro'
import backImg from './back.png'

// import GridArt from '@/components/tiles'
import { grainUrl } from '@/styles/theme'

const content = getLocaleContent(locales, Astro)
---

<Section id="welcome">
	<section class="hello">
		<h1>
			Welcome !
			<br /> I'm <span style="font-size: 1.3em;">{infos.owner.name}</span>, I'm
			a
			<span>Computer Sciences student</span>
			at the University of <span>Grenoble-Alpes</span>
		</h1>
	</section>
	<section class="description">
		<h3>{content.what}</h3>
	</section>
	<section class="action">
		<!-- <button class={}></button> -->
	</section>

	<ChunkedImage
		slot="back"
		src={backImg}
		rows={4}
		cols={16}
		preserveAspectRatio="xMidYMin slice"
		style={{
			maskImage: [grainUrl, 'linear-gradient(#fff 80%, #000)'].join(),
		}}
	/>
</Section>

<style lang="scss">
	@use '@/styles/layout.module.scss';

	:global(.back) {
		display: flex;
		align-items: flex-end;

		& > svg {
			mask-mode: luminance;
			mask-size: 50%;
			mask-composite: intersect;
			filter: grayscale(1) contrast(calc(0.75 + 1 * theme.$bool-is-dark))
				brightness(calc(0.5 + (1 - theme.$bool-is-dark)));
			height: 50%;
		}
	}

	:global(#welcome) {
		display: grid;
		grid-template-rows: auto auto 1fr;
		grid-template-areas:
			'h h h h'
			'd d a a'
			'f f f f';
		gap: 2em;
		min-height: min(100vh, layout.$window-max-width / 1.33);

		// & > * {
		// 	outline: 1px solid theme.$color-black;
		// 	outline-offset: -0.5px;
		// 	padding: 1em;
		// }

		.hello {
			grid-area: h;
			text-wrap: balance;
			span {
				// background-color: theme.$color-accent;
				// color: theme.$color-white;
				// font-size: 1.2em;
			}
		}

		.description {
			grid-area: d;
		}

		.action {
			grid-area: a;
		}

		.footer {
			display: flex;
			grid-area: f;
			flex-direction: column;
			align-items: center;
			gap: 1em;

			img {
				filter: grayscale(1) contrast(0.8);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		div {
			grid-area: a;
		}
	}
</style>
