---
import { Section } from '@/layouts'
import { getLocaleContent } from '@/modules/i18n/content'
import locales from './locales'
import PostCard from '@/components/post/Postcard.astro'
import { getPostsByLocale } from '@/content'

const content = getLocaleContent(locales, Astro)
const posts = (await getPostsByLocale())[Astro.currentLocale as i18n.Locales]
---

<Section id="posts">
	<h1>{content.title}</h1>
	<ul>
		{
			posts
				.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
				.slice(0, 4)
				.map((post) => (
					<li>
						<PostCard post={post} />
					</li>
				))
		}
	</ul>
</Section>

<style>
	ul {
		/* grid-auto-flow: column; */
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
		grid-auto-rows: 16em;
		gap: 2em;
		padding: 1em 0;
	}
</style>
