@use "@/styles/layout.module.scss";

.grid-layout {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 4em 2em;

	@media screen and (max-width: (layout.$window-max-width * 0.7)) {
		grid-template-columns: 1fr !important;
		grid-template-areas: "a" "b" !important;
	}
}

.col2 {
	@extend .grid-layout;
	grid-template-columns: 1fr 1fr;
}

.col2i {
	@extend .col2;
	direction: rtl;

	* {
		direction: ltr;
	}
}
