---
type Enumerate<
	N extends number,
	Acc extends number[] = [],
> = Acc["length"] extends N
	? Acc[number]
	: Enumerate<N, [...Acc, Acc["length"]]>

type IntRange<F extends number, T extends number> = Exclude<
	Enumerate<T>,
	Enumerate<F>
>

interface Props {
	n: IntRange<1, 5>
}

const { n } = Astro.props
---

<div class={"col" + n}>
	<slot />
</div>

<style lang="scss">
	@mixin col {
		img {
			width: 100%;
		}

		& > * {
			&:not(:first-child) {
				margin: 1em 0;
			}

			&:first-child {
				margin-bottom: 1em;
			}
		}
	}

	@for $i from 1 through 5 {
		.col#{$i} {
			columns: $i;
			@include col;
		}
	}
</style>
