---
import layout from '@/styles/layout.module.scss'
import locales from './locales'
import { ThemeToggle } from '@/modules/theme/components'

import { Route } from '@/components/ui'
import type { HTMLAttributes } from 'astro/types'
import type Head from '@/components/Head.astro'
import { LocaleNav } from '@/modules/i18n/components'

import { useLocaleContents } from '@/modules/i18n/content'
import { Block, Skeleton } from '@/layouts'

export interface Props extends HTMLAttributes<'main'> {
	head?: i18n.NestedLocaleContent<component.Props_<typeof Head>>
}

export const { getStaticPaths, getLocaleContent } = useLocaleContents(locales)
const content = getLocaleContent(Astro)

const { head, ...props } = Astro.props
---

<Skeleton>
	<!-- Slot forwarding -->
	<slot name="head" slot="head" />

	<Block el="header" transition:persist-props>
		<nav>
			<ul>
				{
					content.navLinks.map((props) => (
						<li>
							<Route {...(props as component.Props_<typeof Route>)} />
						</li>
					))
				}
			</ul>
		</nav>
		<div>
			<LocaleNav />
			<ThemeToggle />
		</div>
	</Block>

	<main transition:animate="fade" {...props}>
		<slot />
	</main>

	<Block el="footer" transition:persist-props class={layout.chunk}>
		<div>
			{
				content.footer.links.map(({ name, links }) => (
					<ul>
						<li>{name}</li>
						{links.map((props) => (
							<li>
								<Route {...props} />
							</li>
						))}
					</ul>
				))
			}
			<pre translate="no">{content.footer.asciiArt}</pre>
		</div>
		<p>
			{content.footer.copyrigth.whenwho}
			<Route direction="right" {...content.footer.copyrigth.license} />
		</p>
	</Block>
</Skeleton>

<style lang="scss">
	@use '@/styles/layout.module.scss' as layout;

	body {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > main {
			flex: 1;
			width: 100%;
		}

		& > header {
			justify-content: space-between;
			backdrop-filter: blur(1em);
			transition: transform 0.2s ease-in-out;
			background: linear-gradient(
				theme.$color-white,
				color-mix(in srgb, theme.$color-white, transparent 40%)
			);
			user-select: none;

			&,
			* {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1em;
			}

			img {
				height: 2em;
			}
		}

		& > footer {
			gap: 0.5em;
			border-top: 1px solid theme.$color-grey;
			user-select: none;

			&,
			ul {
				display: flex;
				flex-direction: column;
			}

			ul {
				& > *:first-child {
					margin-bottom: 0.5em;
					font-weight: 500;
					text-underline-offset: 0.2em;
				}
			}

			div {
				display: flex;
				position: relative;
				flex-flow: row wrap;
				gap: 1em;
			}

			pre {
				right: 0;
				bottom: 0;
				opacity: 0.4;
				margin-top: auto;
				margin-left: auto;
			}

			& > p {
				align-self: end;

				a {
					color: theme.$color-main;
				}
			}
		}
	}
</style>
