---
import type { HTMLAttributes } from "astro/types"
import { p } from "@/modules/composer/server"
import { Icon } from "astro-icon/components"

type Props = HTMLAttributes<"a"> & {
	label?: string
	direction?: "left" | "center" | "right"
	defaultActive?: boolean
	icon ?: string,
}

const {
	label,
	icon,
	direction = "left",
	defaultActive = false,
	...rawProps
} = Astro.props

const props = p(rawProps)
	.with("class", defaultActive && "active")
	.with("class", direction && direction != "left" && direction)
	.end()
---

<a {...props}>
	{icon ? <Icon name={icon} /> : ''}
	<span>{label}</span>
	<slot />
</a>

<style lang="scss">
	a {
		--x: 0;

		display: inline-flex;
		align-items: center;
		gap: .5em;

		span {
			$line-width: 0.05em;
			$line-color: theme.$color-main;

			box-decoration-break: clone;
			background: linear-gradient(
				transparent calc(100% - $line-width),
				$line-color $line-width,
				$line-color 0%
			);
			background-position: calc(var(--x) * 100%) 0;
			background-size: 0 100%;
			background-repeat: no-repeat;
			transition: background-size 0.1s ease-in-out;
		}

		svg {
			$size: 1.1em;
			height: $size;
			width: $size;
			padding: .1em;
			transition: color 0.1s ease-in-out;
		}

		&.center {
			--x: 0.5;
		}

		&.right {
			--x: 1;
		}

		&:is(:hover, .active) {
			span { 
				background-size: 100% 100%;
			}
			svg {
				color: theme.$color-main;
			}
		}
	}
</style>
