---
import locales from "./locales"
import { Section } from "@/layouts"
import { Title, Timeline } from "@/components"
import { getLocaleContent } from "@/modules/i18n/content"

const content = getLocaleContent(locales, Astro)
---

<Section id="story" layout="col2">
	<Title title={content.title}>
		<p>{content.description}</p>
	</Title>
	<Timeline items={content.timeline} />
</Section>