---
import locales from "./locales"
import { Section } from "@/layouts"

import { PatternGrid } from "@/components/graphic"
import Timeline from "@/components/docs/Timeline"
import { getLocaleContent } from "@/modules/i18n/content"

const content = getLocaleContent(locales, Astro)
---

<Section id="history" layout="col2">
	<div>
		<h1>{content.title}</h1>
		<PatternGrid
			animated
			width={12}
			height={4}
			seed="hello "
			style="border-radius: 0.5rem"
		/>
		<p>{content.description}</p>
	</div>
	<Timeline items={content.timeline} />
</Section>

<style>
	div {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
</style>
