---
import locales from "./locales"
import { Section } from "@/layouts"
import Timeline from "@/components/docs/Timeline"
import { getLocaleContent } from "@/modules/i18n/content"
import { Title } from "@/components"

const content = getLocaleContent(locales, Astro)
---

<Section id="story" layout="col2">
	<Title title={content.title} description={content.description}/>
	<Timeline items={content.timeline} />
</Section>