---
import { Ref } from "@/components"
import { locales } from "../config"
import { getLocaleUrl } from "../content"
---

<script>
	import { prefetch } from "astro:prefetch"
	import { $locale, getLocaleUrl } from "../store"
	import { define } from "@/modules/composer/client"

	define("locale-link", { extends: "a" })(
		class extends HTMLAnchorElement {
			connectedCallback() {
				const locale = this.dataset.locale as i18n.Locales
				this.addEventListener("click", () => $locale.set(locale))
				this.addEventListener(
					"mouseover", 
					() => {
						const url = getLocaleUrl(locale)
						if (url) prefetch(url.href)
					},
					{ once: true }
				)
			}
		}
	)
</script>

<nav>
	{
		locales.map((locale) => {
			const attrs = locale == Astro.currentLocale ? {defaultActive: true} : {
				is: "locale-link",
				href: getLocaleUrl(Astro, locale) // Allow prefetching
			}
			return (
				<Ref
					translate="no"
					data-locale={locale}
					label={locale}
					role="navigation"
					{...attrs}
				/>
			)
		})
	}
</nav>

<style lang="scss">
	nav {
		display: flex;
		align-items: center;
		gap: 1ch;
	}
</style>
