---
import { Ref } from "@/components"
import { locales } from "../config"
import { replaceLocaleUrl } from "../content"
---

<script>
	import { $locale } from "../store"
	import { define } from "@/modules/composer/client"

	define("locale-link", { extends: "a" })(
		class extends HTMLAnchorElement {
			connectedCallback() {
				this.addEventListener("click", () => 
					$locale.set(this.dataset.locale as i18n.Locales)
				)
			}
		}
	)
</script>

<nav>
	{
		locales.map((locale) => {
			const attrs = locale == Astro.currentLocale ? {defaultActive: true} : {
				is: "locale-link",
				href: replaceLocaleUrl(Astro.url, locale) // Allow prefetching
			}
			return (
				<Ref
					translate="no"
					data-locale={locale}
					label={locale}
					{...attrs}
				/>
			)
		})
	}
</nav>

<style lang="scss">
	nav {
		display: flex;
		align-items: center;
		gap: 1ch;
	}
</style>
