:export {
	gradientMainColor1: theme.$gradient-main-color1;
	gradientMainColor2: theme.$gradient-main-color2;
	gradientSecondaryColor1: theme.$gradient-secondary-color1;
	gradientSecondaryColor2: theme.$gradient-secondary-color2;
	pageBlack: theme.$page-black;
	pageWhite: theme.$page-white;
	pageGrey: theme.$page-grey;
	pageAccent: theme.$page-accent;
}
