/// WARNING : This module is @used automatically in every scss files / blocks

@use 'sass:list';

$theme-vars: ();

/// Define a theme variable
///
/// @param {*} $name CSS variable name
/// @param {*} $darkValue value for dark theme
/// @param {*} $lightValue [false] overwritten value for light theme
@function defineTheme($name, $darkValue, $lightValue: false) {
	@if ($darkValue) {
		$theme-vars: list.append(
			$theme-vars,
			($name, $darkValue, $lightValue)
		) !global;
	} @else {
		$theme-vars: list.append(
			$theme-vars,
			($name, $darkValue, $darkValue)
		) !global;
	}
	@return var(--#{$name});
}
/// Theme variables

/// Accent Colors

$color-main: defineTheme(color-main, #a8fcb3, #6b41df);
$gradient-main-color1: defineTheme(gradient-main-color1, #1df0a9, #6b41df);
$gradient-main-color2: defineTheme(gradient-main-color2, #a8fcb3, #86b8f7);
$gradient-secondary-color1: defineTheme(
	gradient-secondary-color1,
	#f10f40,
	#f0471d
);
$gradient-secondary-color2: defineTheme(
	gradient-secondary-color2,
	#faeda1,
	#eebae5
);

/// Shade of grey

$color-black: defineTheme(color-black, #e0dede, #000);
$color-white: defineTheme(color-white, #131111, #f8f8f8);
$color-grey: defineTheme(color-grey, #333030, #e6e5e5);
$color-dark-grey: defineTheme(color-grey, #333030, #c4bdbd);
$color-shadow: defineTheme(color-shadow, #00000023);
$bool-is-dark: defineTheme(bool-is-dark, 1, 0);

/// Textures

// prettier-ignore
// $texture-checkboard: defineTheme(
// 	texture-checkboard,
// 	// url(svg(
// 	// 	'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg">'
// 	// 		'<g fill="' #0000001c '">'
// 	// 			'<rect x="0" y="0" width="2" height="2"/>'
// 	// 			'<rect x="2" y="2" width="2" height="2"/>'
// 	// 		'</g>'
// 	// 	'</svg>'
// 	// )),
// 	// url(svg(
// 	// 	'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg">'
// 	// 		'<g fill="' #ffffff1c '">'
// 	// 			'<rect x="0" y="0" width="2" height="2"/>'
// 	// 			'<rect x="2" y="2" width="2" height="2"/>'
// 	// 		'</g>'
// 	// 	'</svg>'
// 	// ))
// 	url(svg(
// 		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg">'
// 			'<g stroke="' #0000001c '" stroke-width=".3">'
// 				'<path d="M-1,1 L1,-1 M4,0 L0,4 M3,5 L5,3"/>'
// 			'</g>'
// 		'</svg>'
// 	)),
// 	url(svg(
// 		'<svg width="1em" height="1em"  viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg">'
// 			'<g stroke="' #ffffff1c '" stroke-width=".3">'
// 				'<path d="M-1,1 L1,-1 M4,0 L0,4 M3,5 L5,3"/>'
// 			'</g>'
// 		'</svg>'
// 	))
// );
