@use "@/styles/layout.module.scss";

.post {
	display: flex;
	flex-direction: column;
	counter-reset: image;

	// Text spacing
	:is(p, h1, h2, h3, h4, h5, h6, ul, ol, figure) {
		margin-bottom: 1em;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4,
	h5,
	h6 {
		--color-alpha: 60%;
		color: color-mix(in srgb, currentColor var(--color-alpha), transparent);
		font-size: 1em;
	}

	h5 {
		padding-left: 1em;
		--color-alpha: 50%;
	}

	h6 {
		--color-alpha: 40%;
		padding-left: 2em;
	}

	p {
		line-height: 1.3em;
	}

	a {
		text-decoration: underline solid 1px theme.$color-main;
	}

	table {
		border-collapse: collapse;

		th,
		td {
			border-top: 0.1em solid theme.$color-grey;
			padding: 0.25em 1em;

			&:not(:first-child) {
				border-left: 0.1em solid theme.$color-grey;
			}
		}

		thead > tr:first-of-type th {
			border-top: none;
		}
	}

	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		background: theme.$texture-cross;
		padding: 2em 2em 1em 2em;

		img {
			counter-increment: image;
			border-radius: 0.5rem;
			width: 100%;
			max-width: layout.$img-max-width;
			height: auto;
		}

		figcaption::before {
			font-weight: 400;
		}

		img ~ figcaption::before {
			content: "Figure " counter(image) " : ";
		}
	}

	ul, ol {
		display: flex;
		gap: .5rem;
		flex-direction: column;

		li {
			list-style-type: disc;
			margin-left: 1rem;
			padding-left: .5rem;
		}
		
	}

	ol li {
		list-style: lower-alpha;
	}

	ul li {
		list-style-type: disc;
		margin-left: 1rem;
		padding-left: .5rem;
	}
}
