---
import { ThemeHeaders } from '@/modules/theme/components'
import { LocaleHeaders } from '@/modules/i18n/components'
import '@/styles/Global.astro'
import type { HTMLAttributes } from 'astro/types'
import Head from '@/components/Head.astro'
import { ClientRouter } from 'astro:transitions'
import type { AstroInstance } from 'astro'

export interface Props extends HTMLAttributes<'body'> {
	head?: component.Props_<typeof Head>
}

let globalComponents = (await Promise.all(
	Object.values(import.meta.glob('@/**/*.global.astro')).map((v) => v()),
)) as AstroInstance[]

const { head, ...props } = Astro.props
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<ClientRouter />
		<ThemeHeaders />
		<LocaleHeaders />
		<Head {...head} transition:persist />
		<slot name="head" />
	</head>
	<body {...props}>
		{
			globalComponents && (
				<div hidden>
					{globalComponents.map((c) => (
						<c.default />
					))}
				</div>
			)
		}
		<slot />
	</body>
</html>

<style lang="scss">
	/// Fix for displaying svg refs
	[hidden] {
		display: block;
		position: absolute;
		top: 0;
		height: 0;
	}
</style>
