---
import PagedJS from './PagedJS.astro'
import { DEFAULT_PAGE_SIZES, type RawPageSize } from '../server/pagesize'
import Metadata from './Metadata.astro'

export const IS_RENDERED_CLASSNAME = 'rendered'

const DEFAULT_PROPS = {
	size: 'a4' as keyof typeof DEFAULT_PAGE_SIZES | RawPageSize,
	scale: 5 as number,
	orientation: 'portrait' as 'landscape' | 'portrait',
}

// prettier-ignore
export type Props = Omit<ComponentProps<typeof PagedJS> & ComponentProps<typeof Metadata>, keyof typeof DEFAULT_PROPS> &
	{[k in keyof typeof DEFAULT_PROPS]?: (typeof DEFAULT_PROPS)[k]}

const props_ = { ...DEFAULT_PROPS, ...Astro.props }

// Page size preset
if (typeof props_.size == 'string')
	props_.size = DEFAULT_PAGE_SIZES[props_.size]

// Switch page for orientation
if (props_.orientation == 'landscape')
	[props_.size.height, props_.size.width] = [
		props_.size.width,
		props_.size.height,
	]

const props = props_ as Props & typeof DEFAULT_PROPS & { size: RawPageSize }
---

<Fragment slot="head">
	{process.env.NODE_ENV == 'development' && <Metadata {...props} />}
	<PagedJS {...props} />
</Fragment>

<template>
	<slot />
</template>
<div></div>

<style lang="scss" is:global>
	@media screen, pagedjs-ignore {
		.pagedjs_pages {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			gap: 2em;
			padding: 2em;
		}

		.pagedjs_page {
			border: 1px solid theme.$page-grey;
			background-color: theme.$page-white;
		}
	}
</style>
